body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
/** Images section **/
.heading{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-style: italic;
	text-align: center;
}
.image-grid{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-gap: 10px;
}
img:hover{
	border: 1px solid gold;
	border-radius: 10px;
}
/** Form Section **/
#books{
	list-style-type: square;
}
.book{
	font-family: 'Sriracha', cursive;
	font-size: calc(60% + 15px);
	text-transform: capitalize;
}
#book-entry{
	border-radius: 10px;
	font-size: calc(60% + 15px);
}
#submit{
	font-size: calc(60% + 14px);
	background: black;
	border: 1px solid white;
	border-radius: 10px;
	color: #667eea;
}
/** Color changing section **/
#color-changer{
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	min-height: 50vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: 'Sriracha', cursive;
	font-style: italic;
	font-size: calc(60% + 15px);
	cursor: pointer;
}
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {

}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
  
}